<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Imágenes Explicativas </title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../../index.html">Inicio</a></li>
                <li><a href="teorías físicas comprobadas.html"> Teorías Físicas Comprobadas </a></li>
                <li><a href="videos acerca de ello.html"> Videos </a></li>
                <li><a href="planetaskeppler.html"> Planetas Keppler </a></li>
                <li><a href="../../public/views/proximamente....html"> Próximamente... </a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="sectionfond">
            <h1> Algunos de los planetas Keppler conocidos hasta hoy </h1>
            <br>
            <img src="../img/planetas keppler.jpg" alt="keppler planetas" class="imagenkeppler">
            <!-- empieza el h2 dentro de mi section(donde hay fondo) -->
            <h2 class="planetaskepplerh2"> Kepler-186f es el primer planeta de tamaño similar a la Tierra que ha sido descubierto en la zona habitable de una estrella. Es el último de los cinco planetas que orbitan esa estrella (tras Kepler-186b, Kepler-186c, Kepler-186d y Kepler-186e), todos ellos descubiertos por el telescopio Kepler de la NASA. </h2>
            <br>

            <h1> Que son las leyes Keppler </h1>

            <!-- parrafo de h1 que son las leyes Keppler -->
            <p><b> Las leyes de Kepler constituyen la base de la mecánica planetaria y sus estudios afianzaron otros principios científicos como los propuestos por Newton para el movimiento y la gravedad. Hay tres leyes: la ley de las órbitas, la ley de las áreas y la ley de los períodos. Los principios del astrónomo Johannes Kepler fueron publicados entre 1609 y 1619, eludiendo a las órbitas de los planetas alrededor del Sol. Estas leyes son fundamentales para la comprensión de la mecánica celeste y la astronomía.

                Aunque originalmente se aplican solo al Sistema Solar, estas leyes se han generalizado y ahora se aplican a otros cuerpos celestes, como las lunas que orbitan los planetas y los sistemas de estrellas binarias. A continuación, en este artículo de GEOenciclopedia entraremos en detalle sobre qué son las leyes de Kepler y en qué consisten, y como su carrera supone un importante aporte a la astronomía y cosmología. </b></p>
                <br>

                <!-- link de pagina ruta global -->
                <a href="https://ciencia.unam.mx/leer/1184/johannes-kepler-y-las-leyes-del-movimiento-planetario" target="_blank" class="hrefcolor"> Johannes Kepler y las leyes del movimiento planetario </a>
        </section> 
        <!-- la parte section es la parte blanca con una class image de fondo -->


    </main>
    <footer>
        <p>&copy; 2024 Catálogo de Teorías Filosóficas y Físicas. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
