<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Próximamente... </title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../../index.html"> Inicio </a></li>
                <li><a href="teorías físicas comprobadas.html"> Teorías Físicas Comprobadas </a></li>
                <li><a href="videos acerca de ello.html"> Videos </a></li>
                <li><a href="planetaskeppler.html"> Planetas Keppler </a></li>
                <li><a href="proximamente....html"> Próximamente... </a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1> Próximamente... </h1>
            <p> Estamos trabajando en nuevos contenidos, te sugerimos que vuelvas a las páginas principales con los links de la parte superior :) . ¡Volvé pronto para más información! </p>
            <img src="../img/universo sticker de gracias.png" alt="astronauta gracias" class="universoproximamente">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            
            <!-- agradecimientos -->
            <h2 class="proximamentea"> Agradecimientos especiales de la página: </h2>
            <p> Gracias Emiliano Piai por este curso, aprendí un montón de cosas nuevas y la verdad quiero seguir aprendiendo en el tramo 2 : ) </p>
            <img src="../img/gato s.jpg" alt="Un gato" class="gatoproximamente">
        </section>          
    </main>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer>
        <p>&copy; 2024 Catálogo de Teorías Filosóficas y Físicas. Todos los derechos reservados. </p>
    </footer>
</body>
</html>
