<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Teorías Físicas Comprobadas </title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../../index.html"> Inicio </a></li>
                <li><a href="teorías físicas comprobadas.html"> Teorías Físicas Comprobadas </a></li>
                <li><a href="videos acerca de ello.html"> Videos </a></li>
                <li><a href="planetaskeppler.html"> Planetas Keppler </a></li>
                <li><a href="proximamente....html"> Próximamente... </a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1 class="teoríasfisicascomprobadash1"> Teorías Físicas Comprobadas </h1>
            <h2> Teorías científicas más importantes </h2>
                <p><b> ¿Cuáles son las teorías más importantes comprobadas por el hombre? Según la definición científica de teoría científica, se puede afirmar que una teoría es una hipótesis confirmada por experiencias múltiples. Algunos ejemplos de teorías de investigación de gran relevancia son los siguientes. </p></b>

                <br>

                <h2> Teoría heliocéntrica </h2>
                <p><b> Se conoce también como modelo de Copérnico. Es una teoría científica astronómica según la cual el Sol es el centro del Sistema Solar y es el punto en torno al que los planetas giran, incluyendo la Tierra. Esta teoría sustituye el geocentrismo medieval. Estas imágenes de teoría geocéntrica suponían que el centro del universo era la Tierra y los otros astros rotaban a su alrededor. </p></b>

                <br>
                
                <h2> Teoría evolutiva </h2>
                <p><b> Esta teoría es el modelo científico que nos explica como las especies cambian en el transcurrir del tiempo. Estas modificaciones ocurren como respuesta adaptativa (física y genética) a los cambios del entorno. La teoría es producto de la formulación de Charles Darwin sobre la existencia de la “selección natural” según la cual algunas especies salen favorecidas y otras sentenciadas a la extinción, dependiendo de su capacidad de adaptación. </p></b> 

                <br>
                
            <h2> Teoría atómica </h2>
              <p><b> Es un modelo químico que explica el comportamiento de la materia y la organización estructural de sus partículas llamadas átomos, virtualmente indivisibles. Existe un conjunto finito de átomos y sus combinaciones generan los diversos tipos de materia existentes, incluyendo la materia orgánica, también la de nuestros cuerpos. </b></p>

              <br>
                
                <h2> Teoría de la relatividad </h2>
               <p><b> En el siglo XX el científico Albert Einstein formuló este modelo que abarca la Teoría de la relatividad general y la Teoría de la relatividad especial. En esta teoría el físico trata de resolver las inconsistencias existentes entre el electromagnetismo y la mecánica clásica newtoniana.
                
                Sus elementos fundamentales son el espacio y el tiempo, que siempre son relativos al estado del movimiento del observador. Esta teoría rompió muchos paradigmas tradicionales que afirmaban que el espacio y tiempo eran elementos absolutos y fijos. </b></p>

                <br>
                
                <h2> El Big Bang </h2>
               <p><b> Es la teoría que explica el origen e inicio del universo. Su traducción es “gran estallido” o “gran explosión”. Según la teoría el Big Bang conformó un punto de densidad infinito del cual surgió la materia (electrones, neutrinos, positrones y fotones, entre otras). La materia creada comenzó a expandirse de forma masiva después de la explosión para así formar el universo que se creó hace 14 mil millones de años. </b></p> 
               <br>
                
                <h2> Teoría de la deriva continental </h2>
                <p><b> Esta teoría surge de la necesidad de responder algunos enigmas relacionados con las ciencias de la tierra, como por ejemplo las formaciones montañosas. Anteriormente se creía que la Tierra se contraía con el enfriamiento dejando arrugas en la superficie, pero realmente eran ideas poco convincentes.
                
                    Otro fenómeno sin explicación eran las similitudes entre fósiles de continentes que se encuentran separados por grandes océanos. Tampoco se sabía cómo grandes rocas que se encontraban en las cimas de las montañas podían haber pertenecido en otra época al lecho marino,  o porqué los volcanes y terremotos ocurren en ciertas zonas y en otras no.
                    
                    En 1912 surge la idea de que los continentes habían formado en un principio una sola masa continental que después se separó. Posteriormente varios descubrimientos condujeron a una nueva teoría llamada teoría de las placas tectónicas, según la cual la corteza terrestre estaba formada por varias placas que se desplazan muy lentamente producto de los procesos que suceden en el interior del planeta. Esta teoría revolucionó el campo de la geología, y explicó este y muchos otros fenómenos hasta entonces sin respuesta. </b></p>

                    <br>
                
                <h2> Teoría electromagnética de Maxwell </h2>
                <p><b> Maxwell propone en su teoría que los átomos y moléculas que componen los gases se mueven al azar y que es posible establecer su velocidad promedio. También determina como el aumento de la temperatura acelera la velocidad interna del movimiento de los gases.
                
                    El concepto de “azar” introduce un importante cambio en la física, ya que cambia el determinismo de sus leyes y enunciados, por ideas de tendencias y probabilidades. A partir de las investigaciones realizadas sobre el campo eléctrico por Faraday, llega a una fórmula matemática que describe los fenómenos eléctricos y magnéticos. También introduce la palabra y el concepto de electromagnetismo al vocabulario científico. Grandes avances posteriores como los rayos X se fundamentan en sus investigaciones. </b></p>

                    <br>
                
                <h2> La teoría de cuerdas </h2>
                <p><b> La teoría de las cuerdas sostiene que las partículas subatómicas son realmente estados vibracionales del objeto extendido llamado filamento o cuerda. Según esto, el electrón sería una cuerda minúscula en vez de un punto sin estructura interna de dimensión cero.
                
                    Los defensores de esta teoría afirman que puede llegar a convertirse en la teoría física más predictiva, con capacidad de dar explicación a los fenómenos de la naturaleza en términos geométricos. Sin embargo, los físicos que trabajan en esta teoría, hasta ahora, no han podido hacer predicciones concretas para confrontarlas con datos experimentales. Se cree que es una teoría tan ambiciosa que pudiera ser una gran verdad o estar totalmente equivocada.  
                    
                    Las teorías científicas son el camino validado y aceptado para dar respuesta a las grandes interrogantes que el hombre se ha planteado desde siempre  con respecto a su entorno. La evolución de estas teorías de la ciencia, a través de la historia, nos ha llevado desde afirmaciones meramente especulativas, sin ningún tipo de validación, hasta el método científico, basado en rigurosos y definidos procedimientos que intentan llegar a la verdad de la forma más precisa posible. </b></p>  

                    <br>

        </section>
    </main>
    <footer>
        <p >&copy; 2024 Catálogo de Teorías Filosóficas y Físicas. Todos los derechos reservados.</p>
    </footer>
</body>
</html>