<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Videos Acerca de Ello </title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../../index.html">Inicio</a></li>
                <li><a href="teorías físicas comprobadas.html"> Teorías Físicas Comprobadas </a></li>
                <li><a href="videos acerca de ello.html"> Videos </a></li>
                <li><a href="planetaskeppler.html"> Planetas Keppler </a></li>
                <li><a href="../../public/views/proximamente....html">Próximamente...</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1> "La teoría del Big Bang no habla del Big Bang" </h1>
            <p> QuantumFracture </p>
        </section>
        <iframe width="600" height="300" src="https://www.youtube.com/embed/In85bmP5rk0" title="La Teoría del Big Bang NO HABLA del Big Bang" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="videosmobile"></iframe>
        <br>
        <br>
        <section>
            <h1> "La teoría de la simulación" </h1>
            <p> Date un Vlog </p>
        </section>
        <iframe width="600" height="300" src="https://www.youtube.com/embed/1rpK0iScpls" title="The Matrix - ¿Cómo sabemos si vivimos en una simulación?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="videosmobile"></iframe>
    </main>
    <footer>
        <p>&copy; 2024 Catálogo de Teorías Filosóficas y Físicas. Todos los derechos reservados. </p>
    </footer>
</body>
</html>
